.c-hero {
    position: relative;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('../assets/images/hero-bg.png') center/cover no-repeat;
                
  

    &__content { 
        height: auto;     
        min-height: 18rem;   
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        gap: 1.875rem;;      
        line-height: 1.8;
        text-align: center;
        color: #ffffff;
    }

    &__title {
        font-size: 3.75rem; 
        font-weight: bold;
        margin: 0;
        line-height: normal;
    }

    &__desc {
        font-size: 1rem;
        max-width: 600px;
        margin: 0;
    }
}

.c-btn {
    display: inline-block;
     padding: 1.25rem 1.875rem;
  border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
     font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    &--primary {
        background-image: linear-gradient(115deg, #ee2988, #4511ff 100%);
        color: #ffffff;
        line-height: 1rem;

        &:hover {
            opacity: 0.9;
            transform: translateY(-2px);
        }
    }
}